#logo{
    margin: 7px 14px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1px;
}
#logo::before{
    content: '';
    width: 40%;
    height: 100%;
    left: 7px;
    top: 10px;
    position: absolute;
    border-top: 4px #f1f1f1 solid;
}

#logo::after{
    content: '';
    width: 40%;
    height: 100%;
    right: 8px;
    bottom: 11px;
    position: absolute;
    border-bottom: 4px #f1f1f1 solid;
}

#logo .w1{
    font-size: 18px;
    color: var(--secondaryColor);
    text-transform: uppercase;
    margin-bottom: 0;

}

#logo .X{
    font-weight: 900;
    color: #f1f1f1;
    font-size: 35px;
}

#logo .w2{
    margin-top: 0;
    color: var(--thirdColor);
    text-transform: uppercase;
    font-size: 18px;
}


@media screen and (max-width:900px) {
    #logo .X{
        font-size: 30px;
    }
    
    #logo .w1,#logo .w2{
        font-size: 14px;
    }
    #logo::before{
        content: '';
        width: 40%;
        height: 100%;
        left: 6px;
        top: 9px;
        position: absolute;
        border-top: 4px #f1f1f1 solid;
    }
    
    #logo::after{
        content: '';
        width: 40%;
        height: 100%;
        right: 6px;
        bottom: 10px;
        position: absolute;
        border-bottom: 4px #f1f1f1 solid;
    }
}


@media screen and (max-width:600px) {
    #logo .X{
        font-size: 25px;
    }
    
    #logo .w1,#logo .w2{
        font-size: 11px;
    }
    #logo::before{
        content: '';
        width: 40%;
        height: 100%;
        left: 4px;
        top: 6px;
        position: absolute;
        border-top: 4px #f1f1f1 solid;
    }
    
    #logo::after{
        content: '';
        width: 40%;
        height: 100%;
        right: 4px;
        bottom: 8px;
        position: absolute;
        border-bottom: 4px #f1f1f1 solid;
    }
}

