.notifications{
    position: fixed;
    right: 0;
    top: 80px;
    bottom: 50%;
    left: 0;
    z-index: 1;
    padding: 60px;
    overflow: auto;
    background-color: var(--lightMode_backgroundColor);
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
  }

  .notifications h1{
      color: var(--lightMode_svgColor);
  }

  .notifications svg{
    position: absolute;
    right: 23px;
    top: 56px;
    font-size: 23px;
    color: var(--lightMode_svgColor);
    cursor: pointer;
  }

.notifications .list_notifications{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
    height: 500px;
}


