attr==0.3.1
brotli==1.0.9
brotlicffi==1.0.9.2
ConfigParser==5.2.0
cryptography==37.0.0
Cython==0.29.28
Django==4.0.4
djangorestframework==3.13.1
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==4.11.3
ipython==8.2.0
ipywidgets==7.7.0
Jinja2==3.1.1
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
mock==4.0.3
numpy==1.22.3
ordereddict==1.1
Pillow==9.1.0
protobuf==3.20.1
pyOpenSSL==22.0.0
railroad==0.5.0
simplejson==3.17.6
Sphinx==4.5.0
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
xmlrpclib==1.0.1
zipp==3.8.0
