.article_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 404px;
    background-color: var(--lightMode_sections);
    border-radius: 9px;
    box-shadow: 0px 0px 7px -5px black;
    margin-top: 50px;
    padding: 12px;
    transition: background 0.2s linear;
}

.article_container .img_article_infos_conatiner .article_infos .read{
    color: var(--lightMode_fontColor);
    text-transform: capitalize;
    font-size: 12px;
}

.article_container .img_article_infos_conatiner {
    display: flex;
    height: 80%;
}

.article_container .img_article_infos_conatiner .img_conatiner {
    width: 55%;
    margin-right: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.article_container .img_article_infos_conatiner .img_conatiner img {
    width: 100%;
    border-radius: 4px;
}


.article_container .img_article_infos_conatiner .article_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 0 10px;
    width: 45%;
    border-left: 1px solid lightgray;
}

.article_container .img_article_infos_conatiner .article_infos .article_title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100px;
}

.article_container .img_article_infos_conatiner .article_infos .article_title .date {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.article_container .img_article_infos_conatiner .article_infos .article_title h1 {
    color: var(--lightMode_fontColor);
    font-size: 20px;
    text-transform: uppercase;
}

.article_container .img_article_infos_conatiner .article_infos .article_title .date small {
    color: var(--lightMode_fontColor);
}

.article_container .img_article_infos_conatiner .article_desc {
    width: 100%;
    height: 40%;
}

.article_container .img_article_infos_conatiner .article_desc p {
    line-height: 22px;
    font-size: 15px;
    color: var(--lightMode_fontColor);
}

.article_container hr {
    width: 100%;
    background-color: lightgrey;
    height: 1px;
    border: none;
}

.article_container .img_article_infos_conatiner .article_infos .article_poster {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: var(--lightMode_fontColor);
}

.article_container .img_article_infos_conatiner .article_infos .article_poster img {
    width: 30px;
    border-radius: 20px;
    margin-right: 10px;
}

.article_container .img_article_infos_conatiner .article_infos .user_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.article_container .article_view_rates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.article_container .article_view_rates .article_views .views {
    border-radius: 8px;
    padding: 7px;
    width: 98%;
    background-color: #44c0fa;
    display: flex;
    justify-content: space-evenly;
    color: white;
}


.article_container .article_view_rates .article_rates {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_container .article_view_rates .article_rates .up , .down {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 36px;
    justify-content: space-between;
}

.article_container .article_view_rates .article_rates .up svg {
    color: green;
    font-size: 18px;
}

.article_container .article_view_rates .article_rates .down svg {
    color: red;
    font-size: 18px;
}

.article_container .article_view_rates .article_rates .up {
    color: green;
    font-size: 13px;
}

.article_container .article_view_rates .article_rates .down {
    color: red;
    font-size: 13px;
}

.article_container .article_view_rates input {
    padding: 10px;
    background-color: var(--lightMode_backgroundColor);
    color: var(--lightMode_fontColor);
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow: 0px 0px 1px 0px black;
    cursor: pointer;
}