 .main header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightMode_headerColor);
    box-shadow: 2px 0px 6px -1px black;
    height: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    transition: background 0.2s linear;
}


 .main header .search-container {
    width: 26%;
    display: block;
    height: 36px;
    margin-right: 80px;
}

 .main header input#search-bar {
    width: 100%;
    height: 35px;
    padding: 0 20px;
    font-size: 14px;
    border: 2px solid #f3f2ef;
    outline: none;
    border-radius: 9px;
}

 .main header input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}

 .main header input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

 .main header input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

 .main header input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

 .main header .search-icon {
    position: relative;
    float: right;
    width: 67px;
    top: -54px;
    right: -45px;
}

 header .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4%;
}

 header .user a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--lightMode_sections);
}

 header .user svg {
    color: white;
    cursor: pointer;
}