html{
  scroll-behavior: smooth;
}
div{
  display: block;
}
*{
    margin: 0;
    padding: 0;
}

:root{
  --lightMode_backgroundColor : #f3f6f8;
  --lightMode_headerColor : #44c0fa;
  --lightMode_sections : #ffffff;
  --lightMode_fontColor : #00000091;
  --lightMode_svgColor : #44c0fa

}